<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPGSystem|Play</title>
    <style>
        body{
            overflow: hidden;
        }
        .gameScreen{
            border: none;
            width: 100%;
            height: 100vh;
        }
    </style>
</head>
<body>
    <!--note-->
    <div class="note">
        <h1>この物語はフィクションです．</h1>
        <button id="agreeBtn" onclick="agreeBtn">同意する</button>
        <p>開発段階の画面です．</p>
    </div>
    <iframe class="gameScreen" src="/play/note" frameborder="0" scrolling="no"></iframe>
</body>
</html>