<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPGSystem|sample</title>
    <style>

        .speechBubbleImg{
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            bottom: 2%;
            width: 95vw;
            height: 30vh;
        }

    </style>
</head>
<body>

    <!--js gameAudio-->
    <script src="/static/js/system/gameAudio.js"></script>

    <!--js-->
    <script src="/static/js/00/start.js"></script>


    <img class="speechBubbleImg" src="/static/file/system/speechBubble.png">
    <div>文字を入力</div>
    
</body>
</html>