<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPGSystem|sample</title>
    <link rel="stylesheet" href="/static/css/system/rpgGame.css">
</head>
<body>
    
    <!--js gameAudio-->
    <script src="/static/js/system/gameAudio.js"></script>

    <!--js-->
    <script src="/static/js/00/start.js"></script>

    <img class="backImg" src="/static/sample.png">
    <div id="speechBox"></div>

    <!--js rpgGame-->
    <script src="/static/js/system/rpgGame.js"></script>

    <script>
        showSpeech("大阪の静かな古本屋に足を踏み入れた葵は、店内の古びた本の並ぶ棚を眺めていた。");
    </script>
    
</body>
</html>