<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPGSystem|sample</title>
    <link rel="stylesheet" href="/static/system/rpgGame.css">
    <style>
        .choiceBtn:hover{
            background-color: rgba(255, 255, 255, 0.498);
        }
    </style>
</head>
<body>
    
    <!--js-->
    <script src="/static/js/00/start.js"></script>

    <!--背景-->
    <img class="backImg" src="/static/sample.png">
    
    <!--キャラクター-->
    <img id="shota" class="character">
    <img id="rojin" class="character">
    <img id="uranaishi" class="character">
    <img id="aoi" class="character">

    <!--吹き出し-->
    <div id="speechBox">
        <div id="message"></div>
        <div id="choice1" class="choiceBtn"></div>
        <div id="choice2" class="choiceBtn"></div>
        <div id="choice3" class="choiceBtn"></div>
    </div>

    <!--js gameAudio-->
    <script src="/static/system/gameAudio.js"></script>

    <!--js rpgGame-->
    <script src="/static/system/rpgGame.js"></script>

    <!--フォーカス-->
    <script>
        //resetCharacter();
    </script>

    <script>

        // 選択肢の要素を取得
        const message = document.getElementById("message");
        const choice1 = document.getElementById("choice1");
        const choice2 = document.getElementById("choice2");
        const choice3 = document.getElementById("choice3");

        // 選択肢がクリックされたときに音を鳴らす
        choice1.addEventListener("click",playTapSE);
        choice2.addEventListener("click",playTapSE);
        choice3.addEventListener("click",playTapSE);

        // 選択肢を表示する
        function showChoice(mes,text01,text02,text03){
            hideChoise();
            message.innerText = mes;
            message.style.display = 'block';
            setTimeout(()=>{
                choice1.innerText = text01;
                choice1.style.display = 'block';
                setTimeout(()=>{
                    choice2.innerText = text02;
                    choice2.style.display = 'block';
                    setTimeout(()=>{
                        choice3.innerText = text03;
                        choice3.style.display = 'block';
                    },500);
                },500);
            },500); 
        }

        // 選択肢を非表示にする
        function hideChoise(){
            message.style.display = 'none';
            choice1.style.display = 'none';
            choice2.style.display = 'none';
            choice3.style.display = 'none';
        }



        // --関数--

        // 吹き出し関連
        
        // --実装(main)--

        const msg = ["葵はスライムに100ダメージの攻撃を与えた！！","翔太はスライムに100ダメージの攻撃を受けた！！"];
        let i = 0;
        function next(){
            if(i<msg.length){
                showSpeech(msg[i]);
                i++;
            }else{
                showSpeech("物語は終了しました．");
            }
        }

    </script>
    
</body>
</html>