/* 選択肢関連 */
/* 選択肢を選んだ時にホバー */
#btn:hover{
    background-color: rgba(0, 0, 0, 0.947);
}

#btn{
    font-weight: bold;
    position: absolute;
    left: 50%;
    bottom: 3%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    background-color: rgba(0, 0, 0,0.6);
    color: white;
    padding: 0.2em;
    font-size: 2vw;
    width: 50vw;
    text-align: center;
    border: solid;
}


/* 背景画像 */
.backImg{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.creditBox{

    position: absolute;

    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    padding: 20px;

    background-color: rgba(0, 0, 0, 0.788);
    color: white;

    text-align: center;

    width: 80vw;
    height: 70vh;
    border: 2px solid;
    overflow-y: scroll;
}