<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPGSystem|SideMode</title>
    <link rel="shortcut icon" href="/static/icon.png">
</head>
<body>
    
    <h3>メニュー</h3>
    <strong>[スタート画面]</strong><a href="/play/start">start</a>
    <br>
    <strong>[プロローグ]</strong><a href="/play/prologue/a">a</a>
    <br>
    <strong>[初期設定]</strong><a href="/play/choseCharacter">choseCharacter</a>|<a href="/play/entryRoom/shota">entryRoom_Shota</a>|<a href="/play/entryRoom/aoi">entryRoom_Aoi</a>
    <br>
    <strong>[chapter01]</strong><a href="/play/chapter01/aa">aa</a>|<a href="/play/chapter01/as">as</a>|<a href="/play/chapter01/b">b</a>|<a href="/play/chapter01/c">c</a>|<a href="/play/chapter01/d">d</a>|<a href="/play/nazo/chapter01/nazo">nazo</a>
    <br>
    <strong>[chapter02]</strong><a href="/play/chapter02/a">a</a>|<a href="/play/chapter02/b">b</a>|<a href="/play/nazo/chapter02/nazo">nazo</a>
    <br>
    <strong>[chapter03]</strong><a href="/play/chapter03/a">a</a>|<a href="/play/chapter03/b">b</a>|<a href="/play/nazo/chapter03/nazo">nazo</a>
    <br>
    <strong>[chapter04]</strong><a href="/play/chapter04/a">a</a>|<a href="/play/chapter04/b">b</a>|<a href="/play/chapter04/c">c</a>|<a href="/play/nazo/chapter04/nazo">nazo</a>|<a href="/play/nazo/chapter04/nazo02">nazo02</a>
    <br>
    <strong>[chapter05]</strong><a href="/play/chapter04/a">a</a>
    <br>
    <strong>[エンディング]</strong><a href="/play/chapterEnd">chapterEnd</a>
    <br>
    <strong>[クレジット]</strong><a href="/play/credit">credit</a>

</body>
</html>