<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPGSystem|start</title>
    <link rel="stylesheet" href="/static/css/00/start.css">
</head>
<body>
    
    <!--js gameAudio-->
    <script src="/static/system/gameAudio.js"></script>

    <!--js-->
    <script src="/static/js/00/start.js"></script>

    <img class="backImg" src="/static/file/00/top.png">
    <div class="btnBoxLayout">
        <button class="startBtn btnProperty" onclick="startBtn();">START</button>
    </div>
    
</body>
</html>