<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPGSystem|start</title>
    <style>
        .startBtn{
            background-color: rgb(21, 96, 130);
            color: white;
        }
        .startBtn:hover{
            background-color: rgb(13, 76, 104);
        }
    </style>
</head>
<body>
    <h1>スタート画面</h1>
    <img src="/static/00/top.png">
    <button class="startBtn">START</button>
</body>
</html>