<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit</title>
    <link rel="stylesheet" href="/static/css/credit/credit.css">
    <link rel="shortcut icon" href="/static/icon.png">
</head>
<body>
    <img class="backImg" src="/static/file/backImg/yuhi.jpg">

    <!--js gameAudio-->
    <script src="/static/system/gameAudio.js"></script>

    <div class="creditBox">
        <!--クレジット-->
        <div class="creditText">
            <h2>『幻宝伝説 関西に眠る記憶』</h3>
            （敬称略）
            <br>
            <br>
            <strong>脚本・シナリオ</strong>
            <br>
            <br>
            メインライター：ChatGPT　Perplexity　Gemini 
            <br>
            サブライター：e1q23079 e1q23082
            <br>
            <br>
            <strong>アートデザイン</strong>
            <br>
            <br>
            キャラクターデザイン：Canva
            <br>
            背景デザイン：Canva
            <br>
            UIデザイン：e1q23079 Bootstrap
            <br>
            <br>
            <strong>音楽</strong>
            <br>
            <br>
            BGM
            <br>
            <br>
            Tak_mfk
            <br>
            https://www.youtube.com/@tak_mfk6101
            <br>
            <br>
            エンディング
            <br>
            <br>
            「夏の夜空 feat. 宮舞モカ」
            <br>
            作曲：Tak_mfk
            <br>
            <br>
            SE
            <br>
            効果音ラボ
            <br>
            https://soundeffect-lab.info/
            <br>
            <br>
            <strong>アニメーション</strong>
            <br>
            <br>
            動画：e1q23079
            <br>
            <strong>システム開発</strong>
            <br>
            <br>
            e1q23079 e1q23082
            <br>
            <br>
            <strong>ソフトウェアライセンス</strong>
            <br>
            <br>
            このシステムは，Apache 2.0ライセンスで配布されている制作物が含まれます．
            <br>
            <br>
            jsQR
            <br>
            https://github.com/cozmo/jsQR
            <br>
            <br>
            opencv-python
            <br>
            https://pypi.org/project/opencv-python/
            <br>
            <br>
            easyocr
            <br>
            https://pypi.org/project/easyocr/
            <br>
            <br>
            Docker Engine
            <br>
            https://docs.docker.com/engine/
            <br>
            <br>
            このシステムは，BSDライクライセンスで配布されている制作物を用いて動作しています．
            <br>
            <br>
            nginx
            <br>
            https://nginx.org/en/
            <br>
            <br>
            Flask
            <br>
            https://msiz07-flask-docs-ja.readthedocs.io/ja/latest/
            <br>
            <br>
            python-dotenv
            <br>
            https://pypi.org/project/python-dotenv/#data
            <br>
            <br>
            numpy
            <br>
            https://pypi.org/project/numpy/
            <br>
            <br>
            このシステムは，MITライセンスで配布されている制作物を用いて動作しています．
            <br>
            <br>
            Flask-SocketIO
            <br>
            https://flask-socketio.readthedocs.io/en/latest/#
            <br>
            <br>
            Socket.IO
            <br>
            https://socket.io/
            <br>
            <br>
            このシステムはZPIライセンスで配布されている制作物を用いて動作しています．
            <br>
            <br>
            Waitress
            <br>
            https://pypi.org/project/waitress/
            <br>
            <br>
            このシステムはPSFLライセンスで配布されている制作物を用いて動作しています．
            <br>
            <br>
            Python
            <br>
            https://www.python.org/
            <br>
            <br>
            <strong>使用ツール</strong>
            <br>
            <br>
            Docker Desktop
            <br>
            https://www.docker.com/ja-jp/
            <br>
            <br>
            PowerPoint
            <br>
            https://www.microsoft.com/ja-jp/microsoft-365/powerpoint
            <br>
            <br>
            Google drive
            <br>
            https://workspace.google.com/intl/ja/products/drive/
            <br>
            <br>
            Google ドキュメント
            <br>
            https://workspace.google.com/intl/ja/products/docs/
            <br>
            <br>
            Google フォーム
            <br>
            https://workspace.google.com/intl/ja/products/forms/
            <br>
            <br>
            Google Chrome
            <br>
            https://www.google.com/intl/ja_jp/chrome/
            <br>
            <br>
            HackMD
            <br>
            https://hackmd.io/ja
            <br>
            <br>
            Discord
            <br>
            https://discord.com/
            <br>
            <br>
            Skyep
            <br>
            https://www.skype.com/ja/
            <br>
            Figma
            <br>
            <br>
            https://www.figma.com/ja-jp/
            <br>
            <br>
            Git
            <br>
            https://git-scm.com/
            <br>
            <br>
            GitHub
            <br>
            https://github.co.jp/
            <br>
            <br>
            Visual Studio Code
            <br>
            https://code.visualstudio.com/
            <br>
            <br>
            SAKURA internet
            <br>
            https://vps.sakura.ad.jp/
            <br>
            <br>
            Microsoft Whiteboard
            <br>
            https://www.microsoft.com/ja-jp/microsoft-365/microsoft-whiteboard/digital-whiteboard-app
            Canva
            <br>
            <br>
            https://www.canva.com/
            <br>
            <br>
            namecheap
            <br>
            https://www.namecheap.com/
            <br>
            <br>
            Let's Encrypt
            <br>
            https://letsencrypt.org/
            <br>
            <br>
            <strong>参考文献</strong>
            <br>
            <br>
            大神神社，「大神神社(おおみわじんじゃ)について」，https://oomiwa.or.jp/jinja/ ，（閲覧日：2025/02/13）
            <br>
            <br>
            一般社団法人 桜井市観光協会公式ホームページ,「大神神社（三輪明神）桜井市 三輪」，https://sakurai-kankou.jimdoweb.com/%E5%90%8D%E6%89%80%E6%97%A7%E8%B7%A1/%E5%B1%B1%E3%81%AE%E8%BE%BA%E3%81%AE%E9%81%93-%E5%A4%A7%E7%A5%9E%E7%A5%9E%E7%A4%BE%E3%81%BB%E3%81%8B/%E5%A4%A7%E7%A5%9E%E7%A5%9E%E7%A4%BE-%E4%B8%89%E8%BC%AA%E6%98%8E%E7%A5%9E/ ，（閲覧日：2025/02/13）
            <br>
            <br>
            日本の極み旅行，「大神神社について｜歴史や概要を詳しく解説」，https://article.bespes-jt.com/ja/article/omiwa-shrine	，（閲覧日：2025/02/13）
            <br>
            <br>
            大神神社，「三輪山登拝について」，https://oomiwa.or.jp/jinja/miwayama/tohai/ ，（閲覧日：2025/02/13）
            <br>
            <br>
            <br>
            箕面公園【公式サイト】，「箕面公園について」，https://www.mino-park.jp/about/ ，（閲覧日：2025/02/13）
            <br>
            <br>
            箕面公園【公式サイト】，「箕面大滝」，https://www.mino-park.jp/about/182/ ，（閲覧日：2025/02/13）
            <br>
            <br>
            箕面の滝案内，「箕面の滝へようこそ！」，http://www.minohfalls.com/　，（閲覧日：2025/02/13）
            <br>
            <br>
            一般社団法人 和歌山市観光協会，「和歌山城」，https://www.wakayamakanko.com/sightseeing/history1.html ，（閲覧日：2025/02/13）
            <br>
            <br>
            文化デジタルライブラリー，「絵本太功記・夏祭浪花鑑」，https://www2.ntj.jac.go.jp/dglib/contents/learn/edc18/ehon/yomoyama/y4/b.html#:~:text=%E7%BE%BD%E6%9F%B4%E6%B0%8F%E3%81%AE%E4%B8%8B%E8%B3%9C%E3%81%AF,%E3%81%8B%E3%82%89%E8%B1%8A%E8%87%A3%E7%A7%80%E5%90%89%E3%81%A8%E3%81%AA%E3%82%8A%E3%81%BE%E3%81%99%E3%80%82 ，（閲覧日：2025/02/13）
            <br>
            <br>
            城跡 和歌山城，「築城の物語」，http://wakayamajo.jp/history/index.html ，（閲覧日：2025/02/13）
            <br>
            <br>
            城跡 和歌山城，「おもてなし忍者」，http://wakayamajo.jp/ninja/index.html ，（閲覧日：2025/02/13）
            <br>
            <br>
            あさご市ポータルサイトあさぶら，「国史跡 竹田城跡」，https://www.asabura.jp/sspot/667 ，（閲覧日：2025/02/13）
            <br>
            <br>
            竹田城跡公式ホームページ，「一般、料金、見学のルールなど」，https://www.city.asago.hyogo.jp/site/takeda/3095.html ，（閲覧日：2025/02/13）
            <br>
            <br>
            竹田城跡公式ホームページ，「一般、料金、見学のルールなど」，https://www.city.asago.hyogo.jp/site/takeda/3092.html ，（閲覧日：2025/02/13）
            <br>
            <br>
            竹田城 城下町 ホテルEN，「竹田城について」，https://www.takedacastle.jp/takedacastle ，（閲覧日：2025/02/13）
            <br>
            <br>
            京都嵐山 鈴虫寺（妙徳山華厳寺），「写真で見る鈴虫寺」，https://suzutera.or.jp/photo/ ，（閲覧日：2025/02/13）
            <br>
            <br>
            京都嵐山 鈴虫寺（妙徳山華厳寺），「わらじを履いたお地蔵さん」，https://suzutera.or.jp/introduction/jizou/ ，（閲覧日：2025/02/13）
            <br>
            <br>
            京都嵐山 鈴虫寺（妙徳山華厳寺），「アクセス」，https://suzutera.or.jp/access/ ，（閲覧日：2025/02/13）
            <br>
            <br>
            THE THOUSAND KYOTO（ザ・サウザンド京都），「
            「華厳寺（鈴虫寺）」の観光・見どころ｜1年中鈴虫の音が聴こえるお寺」，https://www.keihanhotels-resorts.co.jp/the-thousand-kyoto/sight/saga-arashiyama-takao/suzumushidera.html ，（閲覧日：2025/02/13）
            <br>
            <br>
            <strong>公式ホームページ</strong>
            <br>
            <br>
            https://momijiworks.me
            <br>
            <br>
            <strong>スペシャルサンクス</strong>
            <br>
            <br>
            ユーザヒアリング&テストプレイに参加してくださったみなさん
            <br>
            <br>
            <strong>制作</strong>
            <br>
            モミジ
            <br>
            <br>
            <br>
            この物語はフィクションです。
            <br>
            実在の人物・団体・事件などには一切関係ありません。
            <br>
            また、登場する名称や設定の一部は架空のものであり、現実のものとは異なります。
            <br>
            <br>
        </div>
    </div>

    <script>
        playBGM("natunoyozora.mp3");
        // 右クリックの禁止
        document.oncontextmenu = function() {return false;}
    </script>

    <div id="btn" onclick="chengePlayTapSe('/play/start')">戻る</div>

</body>
</html>