<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPGSystem | {{ jsOriginal }}</title>
    <link rel="stylesheet" href="/static/system/nazotoki.css">
    <link rel="stylesheet" href="/static/system/rpgGame.css">
    <link rel="shortcut icon" href="/static/icon.png">
</head>
<body>
    
    <!--背景-->
    <img id="backImg">

    <!--画像を表示-->
    <img id="tempImage">
    
    <!--吹き出し-->
    <div id="speechBox">
        <div id="doAnswer" class="choiceBtn" onclick="showAnswerBtn();">回答ボタンを表示する</div>
        <div id="doChat" class="choiceBtn" onclick="showChatBox();">チャットを開く</div>
    </div>

    <!--選択肢-->
    <div id="answerBox">
        <div class="answerCenter">
            <div>答えを選択してください．</div>
            <div id="choice1" class="choiceBtn" onclick="ans(1);"></div>
            <div id="choice2" class="choiceBtn" onclick="ans(2);"></div>
            <div id="choice3" class="choiceBtn" onclick="ans(3);"></div>
            <div id="choice4" class="choiceBtn" onclick="ans(4);"></div>
            <div id="choice5" class="choiceBtn" onclick="ans(5);"></div>
        </div>
    </div>

    <!--チャットBox-->
    <iframe src="/system/chat" id="chatBox"></iframe>

    <!--通知-->
    <div id="notificateBox">
        <div class="mesBox">
            <div class="title">結果</div>
            <br>
            <div class="textMes" id="result"></div>
        </div>
        <button id="agreeBtn" class="Btn" onclick="hideResult();">閉じる</button>
    </div>

    <!--js gameAudio-->
    <script src="/static/system/gameAudio.js"></script>

    <!--js rpgGame-->
    <script src="/static/system/rpgGame.js"></script>

    <!--js nazotoki-->
    <script src="/static/system/nazotoki.js"></script>

    <!--js story-->
    <script src="/static/story/{{ jsOriginal }}.js"></script>

</body>
</html>