<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>謎解きヒントシステム|OCR</title>
        <link rel="shortcut icon" href="/static/icon.png">
        <style>
            body{
                padding: 10px;
                background-color: rgb(246, 246, 246);
            }
        </style>
    </head>
    <body>
        <h2>謎解きヒントシステム</h2>
        <p>このシステムは、指示があったときに使用してください．</p>
        <a href="/hinto/QRSystem">QR読み取りシステム</a>|<a href="/hinto/OCRSystem">画像認識システム</a>
        <br>
        <p>※PCでプレイしている方は、<a href="/hinto/showQR">QRコード表示</a>よりQRコードを読み取ると、スマホで謎解きヒントシステムをご利用いただけます．</p>
    </body>
</html>