<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>謎解きヒントシステム|OCR</title>
    <style>
        body {
            padding: 10px;
            background-color: rgb(246, 246, 246);
        }
        .box{
            margin: 10px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            border: solid;
            text-align: center;
        }
        .btn{
            margin: 10px;
        }
    </style>
</head>
<body>
    
    <h2>謎解きヒントシステム</h2>

    <div class="box">
        <h3>画像ヒント</h3>
        <form action="/hinto/sendPhoto" method="post" enctype="multipart/form-data">
            <p>画像をアップロードしてください．</p>
            <input type="file" accept=".jpeg, .png, .jpg" name="Img" required>
            <p><input type="checkbox" required>サーバーで送信されたファイルを解析することに同意する．</p>
            <button onclick="window.location.replace('/hinto');" class="btn">キャンセル</button><input type="submit" class="btn" value="送信">
        </form>
        <p>※ファイルはサーバーにアップロードされ，解析が行われます．個人情報が含まれないようご注意ください．</p>
    </div>
</body>
</html>