<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>謎解きヒントシステム|OCR</title>
        <style>
            body{
                padding: 10px;
                background-color: rgb(246, 246, 246);
            }
            .box{
                margin: 10px;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 10px;
                border: solid;
                text-align: center;
            }
            img{
                height: 80vh;
                width: 50vw;
            }
        </style>
    </head>
    <body>
        <h2>謎解きヒントシステム</h2>
        <div class="box">
            <h3>謎解きヒントシステムQRコード</h3>
            <img src="/static/file/qrcode_momijiworks.me.png">
            <br>
            <button onclick="window.location.replace('/hinto');">戻る</button>
        </div>
    </body>
</html>