<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPGSystem|start</title>
    <link rel="stylesheet" href="/static/css/start/start.css">
</head>
<body>
    
    <!--js gameAudio-->
    <script src="/static/system/gameAudio.js"></script>

    <!--js-->
    <script src="/static/js/start/start.js"></script>

    <img class="backImg" src="/static/file/start/top.png">
    <div class="btnBoxLayout">
        <!--<button class="startBtn btnProperty" onclick="startBtn();">START</button>-->
        <!--ボタンリスト-->
        <div id="box">
            <div class="upDownCenter">
                <div id="choice1" class="choiceBtn" onclick="startBtn();">スタート</div>
                <div id="choice2" class="choiceBtn" onclick="creditBtn();">クレジット</div>
            </div>
        </div>
    </div>

</body>
</html>