<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPGSystem|start</title>
    <link rel="stylesheet" href="/static/css/end/end.css">
    <link rel="shortcut icon" href="/static/icon.png">
</head>
<body>

    <!-- 動画 -->
    <video src="/static/file/introduceMovie.mp4" id="movie" disablepictureinpicture></video>

    <!-- end js-->
     <script src="/static/js/end/end.js"></script>

</body>
</html>