/* ボタンエリア */
.btnBoxLayout{
    bottom: 10%;    /* 下からの位置 */
    position: absolute; /* 絶対配置 */
    /* 左右中央揃え */
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
/* ボタンプロパティー */
.btnProperty{
    width: 20vw;
    letter-spacing: 2px;
    font-size: 2.5em;
}

/* スタートボタン */
.startBtn{
    background-color: rgb(21, 96, 130);
    color: white;
    margin-left: 1vw;
}
.startBtn:hover{
    background-color: rgb(13, 76, 104);
}

/* 終了ボタン */
.exitBtn{
    background-color: rgb(21, 96, 130);
    color: white;
    margin-left: 1vw;
    width: 20vw;
}
.exitBtn:hover{
    background-color: rgb(13, 76, 104);
}

/* 背景画像 */
.backImg{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}