/* 背景画像 */
.backImg{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

/* セリフBOX */
#speechBox{
    position: absolute;
    left: 50%;
    bottom: 3%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 0.5em;
    font-size: 2vw;
    width: 90vw;
    height: 20vh;
}

/* キャラクター関係*/
.character{
    position: absolute;
    bottom: 20vh;
    height: 60vh;
    width: 20vw;
}
#shota{
    position: absolute;
    left: 5%;
}
#rojin{
    position: absolute;
    left: 28%;
}
#uranaishi{
    position: absolute;
    right: 27%;
}
#aoi{
    position: absolute;
    right: 5%;
}