/* 背景画像 */
.backImg{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

/* キャラクター */
.characterChose{
    position: absolute;
    /*height: 25vh;*/
    height: 50vh;
    top: 10%;
}
.characterChose:hover{
    border: solid 3px white;
}

/* 葵 */
.aoiImg{
    right: 20%;
}

/* 翔太 */
.shotaImg{
    left: 20%;
}