<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPGSystem|ChoseCharacter</title>
    <link rel="shortcut icon" href="/static/icon.png">
    <link rel="stylesheet" href="/static/system/rpgGame.css">
    <link rel="stylesheet" href="/static/css/choseCharacter/choseCharacter.css">
</head>
<body>

    <!--背景画像-->
    <img class="backImg" src="/static/file/backImg/sora.jpg">

    <!--翔太-->
    <img class="characterChose shotaImg" src="/static/file/character/shota.jpg" onclick="useShota();">

    <!--葵-->
    <img class="characterChose aoiImg" src="/static/file/character/aoi.jpg" onclick="useAoi();">

    <!--js gameAudio-->
    <script src="/static/system/gameAudio.js"></script>


    <!--吹き出し-->
    <div id="speechBox">
        <div id="message">プレイヤーのキャラクターを選択してください。</div>
    </div>

    <!-- choseCharacter js -->
    <script src="/static/js/choseCharacter/choseCharacter.js"></script>

</body>
</html>